// Colors
// ======


$colorPrimary: #008457; // Green
$colorSecondary: #B42305; // Red
$colorTertiary: #E4AE01; // Yellow (Old Yellow #FEBE10)
$colorQuaternary: #006EA7; // Blue


// BUTTON COLORS

$btnPrimary: #008457;
$btnSecondary: #9B9B9B;
