// Clearfix
// ========

/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 */
.clearfix, header, section, .section, footer, .mod, .inner, .hlist, .address-selection {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
