// Wireframes
// ==========


.wireframes {
  .mod {
    background: #CCC;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  .placeholder {
    border: 1px solid #CCC;
    text-align: center;
    padding: 1em;
  }

}



footer.wireframes {
  margin-top: 1em;
}
